@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  font-family: "Raleway";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-color: inherit;
}

@layer components {
  .bluePalette {
    @apply bg-dark-blue-isaac text-white border-light-blue-isaac;
  }
  .lightBluePalette {
    @apply bg-light-blue-isaac text-white border-yellow-isaac;
  }
  .whitePalette {
    @apply bg-white text-dark-blue-isaac border-light-blue-isaac;
  }
  h1.bluePalette {
    @apply text-yellow-isaac;
  }
  h1.lightBluePalette {
    @apply text-yellow-isaac;
  }
  h1.whitePalette {
    @apply text-light-blue-isaac;
  }
}
